// imports
@import 'reset';
@import 'auxiliares';

body {
    background-color: rgb(230, 230, 230);
}

// header
header {
    background-color: @bg-cor;
}

header>.container {
    background-color: @bg-cor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1%;

    .logo {
        a {
            .logo();
        }
    }

    .descktop {
        ul {
            display: flex;
            gap: 5rem;
        }

        a {
            .ul();
        }

        @media screen and (max-width: 914px) {
            display: none;
        }
    }

    .header__icons {
        display: flex;
        gap: 2rem;

        i {
            font-size: 30px;
            height: 30px;
            flex-shrink: 0;
            color: #fff;
            cursor: pointer;
            display: block;
        }

        .whatssap {
            i {
                color: @whats;
            }
        }

        .linkedin {
            i {
                color: @linkedin;
            }
        }

        .github {
            i {
                color: @github;
            }
        }

        .instagram {
            i {
                color: @instagram;
            }
        }

        @media screen and (max-width: 914px) {
            display: none;
            padding: 0;
            justify-content: center;
        }
    }

    .mobile {
        .mobile();
        padding: 20px 0;

        h3 {
            position: absolute;
            top: 20px;
            right: 10px;
            font-size: 2rem;
            color: @text-cor-white;
            display: none;
            z-index: 2;

            @media screen and (max-width: 914px) {
                display: block;
            }
        }

        ul {
            position: absolute;
            left: 0;
            width: 100%;
            padding: 40px 0 40px 0;
            top: 84px;
            background-color: #fff;
            display: none;
            text-align: center;
            border-bottom: 2px solid #ccc;
        }

        li {
            margin-bottom: 30px;
        }

        a {
            color: @text-cor-black;
            letter-spacing: 4px;

            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 2px;
                background-color: #21638f;
                margin: 0 auto;
            }
        }

        padding: 0;
    }

    @media screen and (max-width: 914px) {
        flex-direction: column;
    }

    @media screen and (max-width: 914px) {
        padding: 10px;
    }
}

// Projetos
.projetos {
    margin-top: 60px;

    .container {
        .projetos__title {
            h1 {
                color: @text-cor-black;
                font-size: 3rem;
                font-style: normal;
                font-weight: lighter;
                line-height: normal;
                text-align: center;

                @media screen and (max-width:440px) {
                    font-size: 2rem;
                }
            }

            .size {
                color: @text-cor-black;

                @media screen and (max-width:440px) {
                    font-size: 2rem;
                }
            }

            p {
                color: #878484b0;
                text-align: center;
                font-size: 1rem;
                font-weight: lighter;
                line-height: normal;
            }
        }

        .meus-projetos {
            margin-top: 40px;
            display: flex;
            gap: 30px;

            .card__projetos {
                width: 33.3%;
                border: 1px solid rgba(224, 224, 224, 0.5);
                box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
                background-color: #fff;
                border-radius: 5px;

                img {
                    width: 100%;
                }

                .card__sobre {
                    padding: 20px;

                    h2 {
                        color: @text-cor-black;
                        font-size: 20px;
                        font-weight: normal;

                        b {
                            color: #3498db;
                        }
                    }

                    p {
                        margin: 8px 0;
                        line-height: 1.6;
                        color: #6a7c92;
                        font-size: 15px;
                        font: lighter;
                    }

                    a {
                        color: #6a7c92;
                        padding: 6px 10px;
                        display: inline-block;
                        border: 1px solid #3498db;
                        border-radius: 20px;
                        margin: 20px 10px 0 0;
                        font-size: 14px;

                        &:hover {
                            background-color: #3498db;
                            color: @text-cor-white;
                            transition: 0.8s all;
                        }

                        @media screen and (max-width:901px) {
                            padding: 6px 8px;
                            margin: 20px 8px 0 0;
                        }
                    }
                }

                @media screen and (max-width:901px) {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                }
            }

            @media screen and (max-width:901px) {
                flex-direction: column;
            }
        }
    }

    // Projetos em destaque
    .projeto__destaque {
        margin-top: 40px;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        background-color: #2d2d2d;
        padding: 20px 0;

        .box1 {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;

                @media screen and (max-width:683px) {
                    width: 100%;
                }
            }

            @media screen and (max-width:683px) {
                width: 80%;
            }
        }

        .box2 {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                color: @text-cor-white;
                font-size: 20px;

                b {
                    color: #3498db;
                }
            }

            p {
                color: @text-cor-white;
                font-size: 15px;
                font-weight: normal;
                padding: 20px 10px;
                width: 100%;
                max-width: 500px;

                @media screen and (max-width:683px) {
                    max-width: 100%;
                }
            }

            @media screen and (max-width:683px) {
                width: 100%;
            }

            .box2__btn {
                display: flex;
                gap: 40px;

                a {
                    color: #bccfe6;
                    padding: 6px 10px;
                    display: inline-block;
                    border: 1px solid #3498db;
                    border-radius: 20px;
                    margin: 20px 0px 0 0;
                    font-size: 14px;

                    &:hover {
                        background-color: #3498db;
                        color: @text-cor-white;
                        transition: 0.8s all;
                    }
                }
            }
        }

        @media screen and (max-width:683px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

// Chamada
.chamada {
    width: 100%;
    background-color: #fff;
    height: 300px;
    display: flex;
    padding: 20px 0;
    margin-top: 40px;

    .box1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .custom-button {
            .btn-icone();
            margin: 40px auto;
            display: block;
            border-radius: 20px;
            border: 1px solid #3498DB;
            background: #FFF;

            color: #6A7C92;
            font-size: 20px;
            font-weight: 400;

            &:hover {
                background-color: #21638f;
                color: #fff;
                transition: 1s all;
            }
        }

        @media screen and (max-width:573px) {
            width: 100%;
        }
    }

    .barra {
        width: 3px;
        height: 250px;
        background-color: #3498DB;

        @media screen and (max-width:573px) {
            width: 80%;
            height: 3px;
            margin: 0 auto;
        }
    }

    .box2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: #000;
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            line-height: normal;
        }

        .custom-button {
            .btn-icone();
            margin: 40px auto;
            display: block;
            border-radius: 20px;
            border: 1px solid #3498DB;
            background: #FFF;
            color: #6A7C92;
            font-size: 20px;
            font-weight: 400;

            &:hover {
                background-color: #21638f;
                color: #fff;
                transition: 1s all;
            }
        }

        @media screen and (max-width:573px) {
            width: 100%;
            padding: 20px 0;

        }
    }

    @media screen and (max-width:573px) {
        flex-direction: column;
        height: 100%;
    }
}

// footer
footer {
    width: 100%;
    background-color: #2d2d2d;
    margin-top: 40px;

    .container {
        width: 100%;
        background-color: #2d2d2d;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .logo {
            width: 33.3%;

            a {
                .logo();
            }

            @media screen and (max-width: 914px) {
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }
        }

        .footer__icons {
            width: 33.3%;

            h2 {
                width: 100%;
                color: @text-cor-white;
                font-size: 1em;
                text-align: center;

                @media screen and (max-width: 914px) {
                    text-align: right;
                }

                @media screen and (max-width: 345px) {
                    font-size: 0.8em;
                }
            }

            .icons {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 1rem;
                padding-top: 10px;

                i {
                    font-size: 30px;
                    height: 30px;
                    flex-shrink: 0;
                    color: #fff;
                    cursor: pointer;
                    display: block;
                }

                .whatssap {
                    i {
                        color: @whats;
                    }
                }

                .linkedin {
                    i {
                        color: @linkedin;
                    }
                }

                .github {
                    i {
                        color: @github;
                    }
                }

                .instagram {
                    i {
                        color: @instagram;
                    }
                }

                @media screen and (max-width: 914px) {
                    justify-content: flex-end;
                    align-items: center;
                }
            }

            @media screen and (max-width: 914px) {
                width: 50%;
            }
        }

        .menu-footer {
            width: 33.3%;

            h2 {
                color: @text-cor-white;
                font-size: 1rem;
                text-align: right;
            }

            ul {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                align-items: flex-end;

                li {
                    padding-bottom: 10px;
                }

                a {
                    .ul();
                    font-weight: lighter;
                }
            }

            @media screen and (max-width: 914px) {
                display: none;
            }
        }

        @media screen and (max-width: 914px) {
            justify-content: space-around;
            padding-top: 10px;
        }
    }

    .footer__direitos {
        .container {
            display: flex;
            justify-content: center;
            padding: 0px 0 10px 0;

            p {
                color: @text-cor-white;

                @media screen and (max-width: 914px) {
                    font-size: 14px;
                }
            }

            @media screen and (max-width: 914px) {
                padding: 20px 0 10px 0;

            }
        }
    }
}